src/main/mule/test-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf5aaa16-a4b4-4d12-a284-faddadb42774" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="511ac2af-b4ef-4fa4-bf78-70184467f7c9" >
		<db:my-sql-connection host="64.227.37.97" port="3306" user="njclabs" password="training" database="nrs" />
	</db:config>
	<email:smtp-config name="Email_SMTP1" doc:name="Email SMTP" doc:id="0da3a1bf-61ba-4e7d-ad69-3ade7340c473" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="nationalrailsap@gmail.com" password="Rail@123" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="test-exampleFlow" doc:id="e3ba1c20-769c-4dbf-8565-310c82d2c3ea" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="aa0dfcda-25b6-42b2-97dd-de30be8f4c70" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET"/>
		<set-payload value="Hello My first program" doc:name="Set Payload" doc:id="b51573cf-1686-40ee-9046-c5ce4c1ca2d4" />
		<db:select doc:name="Select" doc:id="a37fa83c-be5c-4ea6-9f47-01aa672d1f86" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from  USER_SAP]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="017353fd-0139-4173-b971-b1cc838eb35d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6967c244-b6ec-4012-80ee-ed7f966dc84e" message="#[payload]"/>
	</flow>
</mule>
